{
    "window.zoomLevel": 0,
    "editor.fontSize": 14,
    "editor.fontFamily": "Menlo-Regular",
    "editor.lineHeight": 19,
    "workbench.colorTheme": "Oceanic Next",
    "extensions.autoUpdate": true,
    "workbench.editor.enablePreview": false,
    "explorer.autoReveal": false,
    "editor.renderLineHighlight": "none",
    "editor.dragAndDrop": false
}
